---
import { featureSection } from "../constants/constants";
import Container from "./Container.astro";
---

<div>
  <Container>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src={featureSection[0].image}
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center sm:text-left font-bold md:text-4xl text-primary"
          >
            {featureSection[0].title}
          </h2>

          <p class="my-8 text-gray-300">
            {featureSection[0].description}
          </p>
        </div>
      </div>
    </div>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src={featureSection[1].image}
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center md:text-left font-bold md:text-4xl text-primary"
          >
            {featureSection[1].title}
          </h2>

          <p class="my-8 text-gray-300">
            {featureSection[1].description}
          </p>
        </div>
      </div>
    </div>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src={featureSection[2].image}
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center sm:text-left font-bold md:text-4xl text-primary"
          >
            {featureSection[2].title}
          </h2>
          <p class="my-8 text-gray-300">
            {featureSection[2].description}
          </p>
        </div>
      </div>
    </div>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src={featureSection[3].image}
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center sm:text-left font-bold md:text-4xl text-primary"
          >
            {featureSection[3].title}
          </h2>
          <p class="my-8 text-gray-300">
            {featureSection[3].description}
          </p>
        </div>
      </div>
    </div>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src={featureSection[4].image}
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center sm:text-left font-bold md:text-4xl text-primary"
          >
            {featureSection[4].title}
          </h2>
          <p class="my-8 text-gray-300">
            {featureSection[4].description}
          </p>
        </div>
      </div>
    </div>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src={featureSection[5].image}
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center sm:text-left font-bold md:text-4xl text-primary"
          >
            {featureSection[5].title}
          </h2>
          <p class="my-8 text-gray-300">
            {featureSection[5].description}
          </p>
        </div>
      </div>
    </div>
  </Container>
</div>
