---
import { featureSection } from "../constants/constants";
import Container from "./Container.astro";
---

<div>
  <Container>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/quizGeneration.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center sm:text-left font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            {featureSection.questionGenerationTitle}
          </h2>

          <p class="my-8 text-gray-600 dark:text-gray-300">
            {featureSection.questionGenerationDescription}
          </p>
        </div>
      </div>
    </div>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/explore.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center md:text-left font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            {featureSection.quizExploreTitle}
          </h2>

          <p class="my-8 text-gray-600 dark:text-gray-300">
            {featureSection.quizExploreDescription}
          </p>
        </div>
      </div>
    </div>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/assess.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center sm:text-left font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            {featureSection.quizAssessmentTitle}
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            {featureSection.quizAssessmentDescription}
          </p>
        </div>
      </div>
    </div>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/report.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center sm:text-left font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            {featureSection.reportTitle}
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            {featureSection.reportDescription}
          </p>
        </div>
      </div>
    </div>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/past-reports.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center sm:text-left font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            {featureSection.pastReportTitle}
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            {featureSection.pastReportDescription}
          </p>
        </div>
      </div>
    </div>
    <div class="mb-20 lg:mb-40">
      <div
        class="space-y-6 justify-between text-gray-600 md:flex md:gap-6 md:space-y-0 lg:gap-12 lg:items-center"
      >
        <div class="md:5/12 lg:w-2/3">
          <img
            src="./img/leaderboard.png"
            alt="image"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2
            class="text-3xl text-center sm:text-left font-bold text-gray-900 md:text-4xl dark:text-primary"
          >
            {featureSection.leaderboardTitle}
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            {featureSection.leaderboardDescription}
          </p>
        </div>
      </div>
    </div>
  </Container>
</div>
