---
import Container from "./Container.astro";
import { integrationsSection } from "../../constants/constants";
---

<div>
  <Container>
    <div class="mb-12 space-y-2">
      <h2 class="text-3xl text-center font-bold md:text-4xl text-primary">
        {integrationsSection.title}
      </h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-300 text-center">
        {integrationsSection.description}
      </p>
    </div>

    <div class="mt-12 gap-x-12 flex justify-center items-center flex-col md:flex-row">
      {
        integrationsSection.logos.map((logo) => (
          <div key={logo.link} class="p-4 grayscale transition duration-200 hover:grayscale-0">
            <a href={logo.link} target="_blank">
              <img
                src={logo.path}
                class={logo.class}
                loading="lazy"
                alt={logo.name}
                width=""
                height=""
              />
            </a>
          </div>
        ))
      }
    </div>
  </Container>
</div>
